<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/favicon/favicon-16x16.png"
    />
    <link rel="stylesheet" href="../scss/style.scss" />
    <title>Document</title>
  </head>
  <body
    class="font-body text-sm text-black min-h-screen font-normal md:text-base"
  >
    {% include "src/html/organisms/header.html" %} {% include
    "src/html/organisms/main.html" %} {% include
    "src/html/organisms/footer.html" %}

    <script src="../js/script.js"></script>
  </body>
</html>
