.enroll {
  margin-bottom: 122px;
  padding: 34px 0 58px;
  background-color: $black;
  border-radius: 30px;
  color: $white;
  background-image: url("../images/bg-footer.png");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;

  h2 {
    margin-bottom: 50vw;
    font-size: 42px;
    line-height: normal;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    font-style: normal;
    line-height: 160%;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 50px;

    li {
      a {
        @include blockLink;

        &:hover {
          color: $activeColor;
        }
      }
    }
  }

  @include sm-breakpoint {
    padding: 200px 0 204px;
    margin-bottom: 138px;
    border-radius: 99px;
    background-position: left center;

    .wrapper {
      display: flex;
      flex-direction: row-reverse;
    }

    .text {
      width: 50%;
    }

    h2 {
      margin-bottom: 30px;
      font-size: 64px;
    }

    p {
      font-size: 16px;
    }

    ul {
      gap: 28px;
      margin-top: 60px;
    }
  }
}
