.hero {
  margin-bottom: 78px;
  padding: 378px 0 58px;
  background-color: $black;
  border-radius: 0px 0px 99px 99px;
  color: $white;
  background-image: url("../images/bg-hero.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;

  h1 {
    margin-bottom: 4px;
    font-size: 42px;
    line-height: normal;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    font-style: normal;
    line-height: 160%;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 50px;

    li {
      a {
        @include blockLink;
      }
    }
  }

  @include sm-breakpoint {
    padding: 110px 0 188px;
    margin-bottom: 56px;

    .text {
      width: 40%;
    }

    h1 {
      margin-bottom: 30px;
      font-size: 64px;
    }

    p {
      font-size: 16px;
    }

    ul {
      gap: 28px;
      margin-top: 60px;
    }
  }
}
