.hero {
  h1 {
    margin-bottom: 30px;
    color: var(--White, #fff);
    font-family: EB Garamond;
    font-size: 64px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    span {
      font-style: italic;
    }
  }

  p {
    color: var(--White, #fff);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}
