@function toRem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}

@mixin sm-breakpoint {
  @media only screen and (min-width: $smBreakpoint) {
    @content;
  }
}

@mixin md-breakpoint {
  @media only screen and (min-width: $mdBreakpoint) {
    @content;
  }
}

@mixin blockLink {
  display: block;
  padding: 12px 20px 13px;
  background: $white;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  @include sm-breakpoint {
    position: relative;
    display: inline-block;
    padding: 0;
    padding-left: 34px;
    background: transparent;
    font-weight: 400;
    color: $white;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 11px;
      background-image: url("../images/icons/arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);
      transition: all 0.3s ease;
    }

    &:hover {
      &:before {
        background-image: url("../images/icons/arrow-active.svg");
        animation-name: arrowAnimation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
      }
    }

    @keyframes arrowAnimation {
      0% {
        transform: translateY(-50%) translateX(0);
      }
      100% {
        transform: translateY(-50%) translateX(4px);
      }
    }
  }
}

@mixin sectionTitle {
  color: $textColor;
  font-size: 34px;
  text-transform: uppercase;

  @include sm-breakpoint {
    font-size: 64px;
  }
}
