<header class="header">
  <div class="container">
    <div class="wrapper">
      <nav class="nav">
        <ul>
          <li><a href="">Diamond Girl</a></li>
          <li><a href="">Diamond Boy</a></li>
          <li><a href="">FINE JEWELRY</a></li>
        </ul>
      </nav>
      {% include "src/html/atoms/burger.html" %} {% include
      "src/html/atoms/logo.html" %}
      <ul class="info">
        <li><a href="">ABOUT US</a></li>
        <li><a href="">CONTACT US</a></li>
      </ul>
      {% include "src/html/atoms/basket.html" %}
    </div>
  </div>
</header>
